@media (max-width: 1199px) and (min-width: 1024px) {

	nav#nav-main .right {
		width: 67%;
	}

	nav#nav-main .left {
		width: 32%;
	}

}

@media only screen and (max-width: 1023px) {

	nav#nav-mobile .right {
		width: 100%;
	}

	nav#nav-mobile .left.logo {
		display: none;
	}
	
	.screenshot {
	  width: 100%;
	}

}

@media only screen and (max-width: 767px) {
 .message_screenshot,
 .wifi_screenshot,
 .img-50-percent,
 .img-60-percent {
         width: 100%;
         margin: 0 auto;
 }

 .img-60-percent {
         margin-bottom: 20px;
 }

}

@media only screen and (max-width: 499px) {

	.text-container {
		width: 90%;
		height: 90%;
		margin-top: 0;
		border-radius: 0;
		padding: 5%;
	}

	body {
		background: #EDECE4;
	}

}
