[Unit]
Description=opengl tileserver
Wants=network.target
After=network.target

[Service]
SyslogIdentifier=tileserver
ExecStart=/home/pi/npm/bin/tileserver-gl-light --config /home/pi/tileserver.json
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
