[Unit]
Description=mvd
After=syslog.target
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/mvd
Environment=ssb_appname=bac ssb_host=__SSB_HOST__
ExecStart=/usr/bin/node bin server --allowPrivate
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
